@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logoPic {
  border-radius: 10%;
  border: 5px solid white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 3%;
  background: rgb(40, 40, 40);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header * {
  color: #fff;
}

header nav a {
  margin-left: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

header nav a.active {
  text-decoration: underline;
}

#sBarMain {
  font-size: x-large;
}

.sidebar {
  background-color: rgb(40, 40, 40);
  color: #fff;
  max-width: 10%;
  height: 100vh;
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar a {
  display: block;
  padding: 25px 10px;
  font-size: 1.5rem;
}

.sidebar a.active {
  text-decoration: underline;
}

.main {
  display: flex
}
